<!--
Inspired by https://dribbble.com/supahfunk
-->
<link rel="stylesheet" href="<%= assetPath('css/chatbox.css') %>">
<section class="avenue-messenger" >
    <div class="menu">
     <div class="items"><span>
       <!-- <a href="#" title="Minimize">&mdash;</a><br> -->
  <!--     
       <a href="">enter email</a><br>
       <a href="">email transcript</a><br>-->
       <a href="#" class="chatbox-cross" title="End Chat">&#10005;</a>
       
       </span></div>
      <div class="button">...</div>
    </div>
    <div class="agent-face">
      <div class="half">
       <img class="agent circle" src="<%= assetPath('images/Logo.png') %>" alt="Group Chat"></div>
    </div>
  <div class="chat">
    <div class="chat-title">
      <h1>Codeial Group Chat</h1>
      <h2>Say Hello!</h2>
    <!--  <figure class="avatar">
        <img src="http://askavenue.com/img/17.jpg" /></figure>-->
    </div>
    <div class="messages" id="#user-chat-box">
      <div class="messages-content"></div>
    </div>
    <div class="message-box">
      <form id="chat-form">
      <input type="text" class="message-input" placeholder="Type message..."></input>
      <button type="submit" class="message-submit">Send</button>
    </form>
    </div>
  </div>
    </div>

<script src="<%= assetPath('js/chatbox.js') %>"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>

<!--<div class="bg"></div>-->