<link rel="stylesheet" href="<%= assetPath('css/forgot_password.css') %>" />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>

<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 mx-auto">
      <div class="card card-default">
        <div class="card-body">
          <div class="text-center">
            <h4><i class="fa fa-lock fa-4x"></i></h4>
            <h2 class="text-center">Trouble Logging In?</h2>
            <p class="hint-text">
              Enter your username or email and we'll send you a link to get back
              into your account.
            </p>
            <div class="card-body">
              <form
                id="register-form"
                role="form"
                autocomplete="off"
                class="form"
                method="post"
                action="/users/send-reset-link"
              >
                <div class="form-group">
                  <div class="input-group">
                    <!-- <span class="input-group-addon"></span> -->
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa-envelope fa color-blue"></i
                      ></span>
                    </div>
                    <input
                      id="email"
                      name="email"
                      placeholder="email address"
                      class="form-control"
                      type="email"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <input
                    name="recover-submit"
                    class="btn btn-lg btn-primary btn-block"
                    value="Reset Password"
                    type="submit"
                  />
                </div>

                <input
                  type="hidden"
                  class="hide"
                  name="token"
                  id="token"
                  value=""
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
