$main-brand-white: #fff;
$dark-shade: #e24e42;
$light-shade: #e9b000;
$light-accent: #eb6e80;
$dark-accent: #008f95;
$hover-mustard: #e4b528;
$hover-aqua: #26a4a9;
$warm-white: rgb(252, 245, 235);

m-gap {
  padding-top: 70px;
}

.card {
  //   height: 600px;
  transform: scale(1);
  margin-top: 100px;
  i {
    color: $light-shade;
  }
  .fa-envelope {
    color: $dark-accent;
  }
  .btn {
    border-radius: 50px;
    background-color: $dark-accent;
  }
  .hint-text {
    color: #999;
  }
}
