$main-brand-royalblue: rgb(252, 245, 235);
$dark-shade: #212040;
$light-shade: #e9b000;
$light-accent: #eb6e80;
$dark-accent: #008f95;
$warm-white: rgb(252, 245, 235);
body {
  background-color: rgb(252, 245, 235);
  font-family: "Source Sans Pro", sans-serif;
  margin: 0em;
  #layout-main {
    * {
      box-sizing: border-box;
      // margin: auto;
    }
    a {
      text-decoration: none;
    }

    height: auto;
    // margin: 3em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* text-align: center; */
  .btn-outline-success:not(:disabled):not(.disabled):active {
    background-color: $dark-accent;
    border-color: transparent;
  }
  .btn-outline-success.focus,
  .btn-outline-success:focus {
    box-shadow: none;
  }
}
