<% let f_name = comment.user.name.split(" ")[0] %>
<div>
  <p>Hi, <%= f_name %></p>
  <p>
    Your comment "<strong><%= comment.content %></strong>" just got published on
    Codeial.
  </p>
  <p>
    Thanks!<br />
    Codeial Team
  </p>
</div>
