m-gap {
  padding-top: 70px; }

.card {
  transform: scale(1);
  margin-top: 100px; }
  .card i {
    color: #e9b000; }
  .card .fa-envelope {
    color: #008f95; }
  .card .btn {
    border-radius: 50px;
    background-color: #008f95; }
  .card .hint-text {
    color: #999; }
