body {
  background-color: #fcf5eb;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0em;
  /* text-align: center; */ }
  body #layout-main {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
    body #layout-main * {
      box-sizing: border-box; }
    body #layout-main a {
      text-decoration: none; }
  body .btn-outline-success:not(:disabled):not(.disabled):active {
    background-color: #008f95;
    border-color: transparent; }
  body .btn-outline-success.focus,
  body .btn-outline-success:focus {
    box-shadow: none; }
